.WindowBox {
  border-radius: 0.5em;
  margin-top: 2em;
  color: white;
  background-color: #001f35;
  overflow: hidden;
} 

.wb-content {
  display: block;
  padding: 1em;
}

.wb-content > * {
  font-family: monospace;
}

