.Card > img, .Card > video {
  display: block;
  width: 100%;
}

.Card > iframe {
  display: block;
  width: 100%;
  height: 20em;
}

.Card:hover {
  cursor: pointer;
}

.CardModal {
  position: relative;
  display: inline-block;
  margin: 3.5em 0;
  width: 50%;

  img {
    display: block;
    width: 100%;
  }
}

.OverlayCardModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.PlaceholderCard {
  width: 100%;
  padding-top: 100%;
  background-color: #b4adff;
}
