.Home > .TopBar {
  margin-bottom: 1em;
}

.Home > .WindowBox {
  display: block;
  width: 30%;
  margin: auto;
  margin-bottom: 1em;
}

#h-asciiart {
  margin-left: 20%;
}

#h-nav .wb-content > * {
  display: inline;
}

#h-contact .wb-content > *:not(:first-child), #h-faq .wb-content > *:not(:first-child) {
  margin-left: 5%; 
}

.Home a {
  color: white;
}
