.Home > .TopBar {
  margin-bottom: 1em;
}

.Home > .WindowBox {
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 1em;
}

@hWidth: 18em;

#h-home {
  .wb-content > p {
    text-align: left;
    margin: 0 auto 1em auto;
  }

  h1 {
    font-size: 4em;
    line-height: 1em;
    margin: 0;
  }
  
  #h-logo-pink {
    color: #ffb2e8;
  }

  .wb-content > *:not(:first-child) {
    display: inline-block;
    vertical-align: middle;
  }

  div:first-of-type {
    margin-right: 2em;
  }

  .wb-content > div > * {
    display: block;
  }

  .HomeButton {
    width: @hWidth;
    margin: 1em auto;
  }

  img {
    object-fit: cover;
    height: @hWidth;
    width: @hWidth;
    border-radius: 1em;
    margin: auto;
  }
}

#h-faq {
  & .wb-content > p:first-child {
    text-align: left;
    margin: 0 auto;
  }

  #h-description {
    text-align: center;
    margin-top: 2em;
  }

  .FAQItem {
    margin-top: 2em;
    margin-left: 5%;
  }
}

#h-contact {
  & .wb-content > p:first-child {
    text-align: left;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 5em * @hWidth) {
  #h-home {
    .wb-content div:first-of-type {
      margin-right: 0;
      margin-bottom: 1em;
    }

    .wb-content > * {
      display: block;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 3em * @hWidth) {
  .Home > .WindowBox {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 1em;
  }
}
